version: "3.8"

services:
  backend:
    image: himanshu0518/backend:latest
    container_name: backend
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    image: himanshu0518/frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
