# version: "3.8"

# services:
#   backend:
#     image: himanshu0518/eshop_backend:latest
#     container_name: eshop_backend
#     ports:
#       - "8000:8000"
#     environment:
#       - DATABASE_URL=${DATABASE_URL}
#       - PORT=8000
#       - JWT_SECRET=${JWT_SECRET}
#       - CLIENT_URL=http://localhost
#       - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
#       - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
#       - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
#       - GEMINI_API_KEY=${GEMINI_API_KEY}
#       - USD_TO_INR=${USD_TO_INR}
#       - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
#       - RAZORPAY_SECRET_KEY=${RAZORPAY_SECRET_KEY}
#     restart: always
#     # healthcheck:
#     #   test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8000/"]
#     #   interval: 30s
#     #   timeout: 10s
#     #   retries: 3
#     #   start_period: 40s

#   frontend:
#     image: himanshu0518/eshop_frontend:latest
#     container_name: eshop_frontend
#     ports:
#       - "80:80"
#     environment:
#       - VITE_API_URL=http://localhost:8000
#     # depends_on:
#     #   backend:
#     #     condition: service_healthy
#     restart: always


services:
  backend:
    image: himanshu0518/eshop_backend:latest
    container_name: eshop_backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=8000
      - JWT_SECRET=${JWT_SECRET}
      - CLIENT_URL=http://localhost
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - USD_TO_INR=${USD_TO_INR}
      - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
      - RAZORPAY_SECRET_KEY=${RAZORPAY_SECRET_KEY}
    restart: always

  frontend:
    # build:
    #   context: ./client        #  frontend ka folder
    #   dockerfile: Dockerfile   # (default hota hai, optional)
    image: himanshu0518/eshop_frontend:latest
    container_name: eshop_frontend
    ports:
      - "80:80"
    environment:
      - VITE_CLIENT_BASE_URL=http://localhost:8000
    restart: always
