name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend
      run: |
        docker build -t himanshu0518/backend:latest ./backend
        docker push himanshu0518/backend:latest

    - name: Build & Push Frontend
      run: |
        docker build -t himanshu0518/frontend:latest ./frontend
        docker push himanshu0518/frontend:latest

    - name: SSH & Deploy
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull himanshu0518/backend:latest
          docker pull himanshu0518/frontend:latest
          docker compose down
          docker compose up -d
